html{
    font-family: monospace;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(0,36,33);
    background: linear-gradient(90deg, rgba(0,36,33,1) 7%, rgba(2,36,34,1) 32%, rgba(255,159,0,1) 58%, rgba(9,121,19,1) 100%);
}
.main{
    max-width: 1200px;
    margin: o auto;
    padding: 0 2rem;
}
*{
    padding: 0;
    margin: 0;
}